body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  background: linear-gradient( 180deg, #1ebb55ea 1%, 3%, #424349 50% ) !important; 
}



input{
  border-radius: 15px !important;
}

.container .col{
  display: flex;
  justify-content: center;
}

.custom-sizing:nth-child(1){
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  
}

.p-color{
  color: black;
}

.fit-to-screen{
  width: 100vw;
  height: 100vh;
}


.list-group-item-dark {
  color: #141619;
  background-color: transparent !important;
}

div.d-flex span{
  --bs-bg-opacity: 1;
    background-color: green !important;
}